@import 'variables';

.section-title-featured {
    padding-left: 30px;
    color: $featured-font;
    font-weight: 700;
    font-size: 18px;
}


.section-title {
    color: $primary-font;
    font-family: "young serif";
}